.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 32px;

  @media screen and (max-width: $--bp-mobile) {
    padding: 16px 20px;
    position: relative;
  }

  &.open {
    @media screen and (max-width: $--bp-mobile) {
      .header__section--mobile {
        display: block;
        transform: translateX(-100%);
      }
    }
  }

  &__container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  &__section {
    flex: 1;

    &--mobile {
      @media screen and (max-width: $--bp-mobile) {
        position: absolute;
        top: 56px;
        padding-top: 40px;
        z-index: 2;
        left: 100%;
      }
    }
  }

  &__icon-package {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: $--bp-mobile) {
      display: none;
    }
  }

  &__icon-menu-burger {
    display: none;

    @media screen and (max-width: $--bp-mobile) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &--close {
      position: absolute;
      right: 20px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;

    @media screen and (max-width: $--bp-mobile) {
      justify-content: flex-start;
    }
  }
}
