.order-form {
  margin: 0 auto;

  @media screen and (max-width: $--bp-tablet) {
    margin: 0 16px;
  }

  &__container {
    padding: 40px;
    position: relative;

    @media screen and (max-width: $--bp-mobile) {
      padding: 20px;
    }
  }

  &__title {
    padding-bottom: 40px;
  }

  &__button-close {
    position: absolute;
    top: 20px;
    right: 20px;

    @media screen and (max-width: $--bp-mobile) {
      top: 10px;
      right: 10px;
    }
  }

  &__list {
    display: flex;
    padding-bottom: 40px;
    gap: 20px;

    @media screen and (max-width: $--bp-mobile) {
      flex-direction: column;
    }
  }

  &__list-item {
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: $--bp-tablet) {
      text-align: center;
    }

    @media screen and (max-width: $--bp-mobile) {
      padding-top: 20px;
      padding-bottom: 18px;
      flex-direction: row;
      text-align: start;
      margin: 0 auto;
    }
  }

  &__checkbox {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 2px;

    @media screen and (max-width: $--bp-mobile) {
      top: 10px;
      right: 10px;
    }
  }

  &__container-checkbox-mark {
    position: absolute;
    right: 16px;
    top: 28px;

    @media screen and (max-width: $--bp-mobile) {
      right: 5px;
      top: 17px;
    }

    &--left {
      left: -4px;
    }
  }

  &__checkbox-mark {
    display: block;
  }

  &__list-title {
    padding-bottom: 8px;
  }

  &__list-image {
    margin: 0 auto;
  }

  &__contain-contact-fields {
    display: flex;
    flex-direction: column;
    gap: 14px;

    @media screen and (max-width: $--bp-mobile) {
      margin: 0 auto;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      right: 0;

      @media screen and (max-width: $--bp-tablet) {
        right: -180px;
      }

      @media screen and (max-width: $--bp-mobile) {
        display: none;
      }
    }
  }

  &__label {
    display: none;
  }

  &__input {
    padding: 15px 24px;
  }

  &__textarea {
    padding: 15px 24px;
  }

  &__contain-button {
    @media screen and (max-width: $--bp-mobile) {
      margin: 0 auto;
    }
  }

  &__button {
    padding: 14px 34px;
    margin-top: 20px;
    position: relative;

    @media screen and (max-width: $--bp-mobile) {
      padding: 14px 24px;
    }
  }
}
