.fruit-card {
  width: 250px;
  height: 390px;
  border-radius: 500px;

  &::before {
    content: '';
    width: 170px;
    height: 1px;
    background-color: transparent;
    box-shadow: 1px 220px 32px 1px black;
  }

  &__title {
    font-size: 12px;
    line-height: 1.16;
  }

  &__text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    max-width: 150px;
  }
}
